<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{subject}</title>
  </head>

  <body style="font-family: Arial, sans-serif">
    <div
      style="
        background-color: #efae31;
        padding: 20px;
        text-align: center;
        color: #fff;
      "
    >
      <h1>BUA Group IT</h1>
    </div>

    <div style="padding: 20px">
      <h2 style="color: #b32e3c">{{subject}}</h2>

      <p>Hello {{user}},</p>

      <p>{{template}}</p>

      <p>Thank you.</p>
    </div>
  </body>
</html>
