<html>
  <head>
    <style>
      body {
        font-family: "Arial", sans-serif;
        color: #333;
      }
      .header {
        background-color: #efae31;
        color: #fff;
        padding: 10px;
        text-align: center;
        font-size: 18px;
      }
      .body {
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <div class="header">New Inventory Item Assigned</div>
    <div class="body">
      <p>Hello {{user}},</p>
      <p>A new item has been assigned to you.</p>
      <p><strong>Equipment:</strong> {{equipment}}</p>
      <p><strong>Model:</strong> {{model}}</p>
      <p><strong>Tag Number:</strong> {{tag_number}}</p>
      <p>Thank you.</p>
    </div>
  </body>
</html>
